In [2]:
import requests
import pandas as pd
from io import StringIO
import sqlite3

In [2]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
pd.DataFrame({
    'A': ['a', 'b', 'c'],
    'B': [11, 12, 13],
    'C': [1.2, 1.3, 1.4]
    
})

   A   B    C
0  a  11  1.2
1  b  12  1.3
2  c  13  1.4

In [4]:
#Sparse array
sparse_array = pd.arrays.SparseArray([1, None, None, None, 3])

In [5]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': pd.arrays.SparseArray([None, None, None])
})
df

   A    B
0  1  NaN
1  2  NaN
2  3  NaN

In [6]:
#Interval
pd.Interval(0,5)
pd.Interval(left=0, right=5)

Interval(0, 5, closed='right')

In [7]:
interval = pd.Interval(0,5, closed='right')
2.5 in interval
5 in interval

True

In [8]:
#Categorical
iris = pd.Categorical(['setosa', 'virginica', 'versicolor'])
'arctica' in iris

False

In [9]:
status = pd.Categorical(['todo', 'done', 'todo', 'done'])
'in progress' in status

False

In [10]:
'todo' in status

True

In [11]:
status.categories

Index(['done', 'todo'], dtype='object')

# 5.3. Pandas Read
## 5.3.1 Import Data

In [12]:
DATA = 'https://python.astrotech.io/_static/iris-clean.csv'
resp = requests.get(DATA, headers={
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'
})
data = StringIO(resp.text)

df = pd.read_csv(data)
df

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.4          3.9           1.3          0.4      setosa
1             5.9          3.0           5.1          1.8   virginica
2             6.0          3.4           4.5          1.6  versicolor
3             7.3          2.9           6.3          1.8   virginica
4             5.6          2.5           3.9          1.1  versicolor
..            ...          ...           ...          ...         ...
146           5.9          3.0           4.2          1.5  versicolor
147           5.0          3.4           1.5          0.2      setosa
148           4.9          2.5           4.5          1.7   virginica
149           6.3          2.8           5.1          1.5   virginica
150           6.8          3.2           5.9          2.3   virginica

[151 rows x 5 columns]

In [ ]:
DATA = '/Users/dravik/Downloads/iris-dirty.csv'
COLUMNS = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

df1 = pd.read_csv(DATA, skiprows=1, names=COLUMNS)
df1.head(3)

In [ ]:
df1['species'].replace({
    0: 'setosa',
    1: 'versicolor',
    2: 'verginica'
}, inplace=True)

df1.head(4)

## 5.3.4 Read HTML

In [3]:
URL = 'https://python.astrotech.io/numerical-analysis/pandas/df-create.html'
pd.read_html(URL)

HTTPError: HTTP Error 403: Forbidden

In [13]:
resp = requests.get(URL, headers={
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'
})
pd.read_html(resp.content)

[     Crew Role        Astronaut
 0   Prime  CDR   Neil Armstrong
 1   Prime  LMP      Buzz Aldrin
 2   Prime  CMP  Michael Collins
 3  Backup  CDR     James Lovell
 4  Backup  LMP   William Anders
 5  Backup  CMP       Fred Haise]

## 5.3.6 Read SQL

In [4]:
DATABASE = r'/Users/dravik/PycharmProjects/ML_exercises/pandas_exercises/astro-timeline.db'
DATA_ASTRO = r'https://python.astrotech.io/_static/astro-timeline.sqlite3'
SQL = r'SELECT * FROM logs'

with open(DATABASE, mode='wb') as db:
    resp = requests.get(DATA_ASTRO)
    db.write(resp.content)
    
# with sqlite3.connect(DATABASE) as db:
#     astro_timeline = pd.read_sql(SQL, db, parse_dates=['datetime'])

pd.read_csv(DATABASE)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 10, saw 382

5.3.7.a. Pandas Read CSV Dates

In [68]:
DATA = 'https://python.astrotech.io/_static/martian-en.csv'
response = requests.get(DATA)
data = StringIO(response.text)

df = pd.read_csv(data, parse_dates=['Mission Date'], index_col=0)
df

   First Name   Last Name Mission Date
id
1         Jan  Twardowski   1988-01-05
2        Mark      Watney   1969-07-21
3        Ivan   Ivanovich   1961-04-12
4     Melissa       Lewis   1970-01-01
5        Alex       Vogel   1968-12-25

In [81]:
DATA = 'https://python.astrotech.io/_static/breast-cancer.csv'
response = requests.get(DATA)
data = StringIO(response.text)
COLUMNS = ['mean radius', 'mean texture', 'mean perimeter', 'mean area',
           'mean smoothness', 'mean compactness', 'mean concavity',
           'mean concave points', 'mean symmetry', 'mean fractal dimension',
           'radius error', 'texture error', 'perimeter error', 'area error',
           'smoothness error', 'compactness error', 'concavity error',
           'concave points error', 'symmetry error',
           'fractal dimension error', 'worst radius', 'worst texture',
           'worst perimeter', 'worst area', 'worst smoothness',
           'worst compactness', 'worst concavity', 'worst concave points',
           'worst symmetry', 'worst fractal dimension', 'label']
df = pd.read_csv(data, names=COLUMNS, skiprows=1)
df['label'].replace(to_replace={0: 'malignant', 1: 'belign'}, inplace=True)#%%
df

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,label
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,malignant
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,malignant
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,malignant
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,malignant
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,malignant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,malignant
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,malignant
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,malignant
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,malignant
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,belign

## Pandas Read JSON

In [95]:
JSON_DATA = 'https://python.astrotech.io/_static/iris.json'
response = requests.get(JSON_DATA).content
df_json = pd.read_json(response)
df_json

    sepalLength  sepalWidth  petalLength  petalWidth     species
0           5.1         3.5          1.4         0.2      setosa
1           4.9         3.0          1.4         0.2      setosa
2           4.7         3.2          1.3         0.2      setosa
3           4.6         3.1          1.5         0.2      setosa
4           5.0         3.6          1.4         0.2      setosa
5           5.4         3.9          1.7         0.4      setosa
6           4.6         3.4          1.4         0.3      setosa
7           5.0         3.4          1.5         0.2      setosa
8           4.4         2.9          1.4         0.2      setosa
9           4.9         3.1          1.5         0.1      setosa
10          7.0         3.2          4.7         1.4  versicolor
11          6.4         3.2          4.5         1.5  versicolor
12          6.9         3.1          4.9         1.5  versicolor
13          5.5         2.3          4.0         1.3  versicolor
14          6.5         2.8          4.6         1.5  versicolor
15          5.7         2.8          4.5         1.3  versicolor
16          6.3         3.3          4.7         1.6  versicolor
17          4.9         2.4          3.3         1.0  versicolor
18          6.6         2.9          4.6         1.3  versicolor
19          5.2         2.7          3.9         1.4  versicolor
20          6.3         3.3          6.0         2.5   virginica
21          5.8         2.7          5.1         1.9   virginica
22          7.1         3.0          5.9         2.1   virginica
23          6.3         2.9          5.6         1.8   virginica
24          6.5         3.0          5.8         2.2   virginica
25          7.6         3.0          6.6         2.1   virginica
26          4.9         2.5          4.5         1.7   virginica
27          7.3         2.9          6.3         1.8   virginica
28          6.7         2.5          5.8         1.8   virginica
29          7.2         3.6          6.1         2.5   virginica

### Pandas read HTML

In [96]:
DATA_HTML = 'https://en.wikipedia.org/wiki/European_Astronaut_Corps'

df_html = pd.read_html(DATA_HTML)
df_html

[    0                                                  1
 0 NaN  This section has multiple issues. Please help ...
 1 NaN  This section needs expansion. You can help by ...
 2 NaN  This section needs to be updated. Please updat...,
     0                                                  1
 0 NaN  This section needs expansion. You can help by ...,
     0                                                  1
 0 NaN  This section needs to be updated. Please updat...,
                      Name         Country       Selection Time in space  \
 0  Samantha Cristoforetti           Italy  2009 ESA Group  199d 16h 43m
 1         Alexander Gerst         Germany  2009 ESA Group   362d 1h 50m
 2        Andreas Mogensen         Denmark  2009 ESA Group    9d 20h 14m
 3          Luca Parmitano           Italy  2009 ESA Group   366d 23h 1m
 4           Timothy Peake  United Kingdom  2009 ESA Group  185d 22h 11m
 5          Thomas Pesquet          France  2009 ESA Group  196d 17h 49m
 6         Matthias Maurer         Germany  2015 ESA Group           NaN

                                             Missions
 0                   Soyuz TMA-15M (Expedition 42/43)
 1  Soyuz TMA-13M (Expedition 40/41), Soyuz MS-09 ...
 2                                  Soyuz TMA-18M/16M
 3  Soyuz TMA-09M (Expedition 36/37), Soyuz MS-13 ...
 4                   Soyuz TMA-19M (Expedition 46/47)
 5  Soyuz MS-03 (Expedition 50/51), Crew-2 (Expedi...
 6                Crew-3 (Expedition 68/69) (Planned)  ,
                                   Name          Country        Selection  \
 0                        Hans Schlegel          Germany   1987 DLR Group
 1                        AndrÃ© Kuipers  The Netherlands   1998 ESA Group
 2                   Christer Fuglesang           Sweden   1992 ESA Group
 3                      LÃ©opold Eyharts           France  1990 CNES Group
 4                Jean-FranÃ§ois Clervoy           France   1998 ESA Group
 5                       Maurizio Cheli            Italy   1992 ESA Group
 6                          Pedro Duque            Spain   1992 ESA Group
 7                       Reinhold Ewald          Germany   1990 DLR Group
 8                      Umberto Guidoni            Italy   1989 ASI Group
 9   Claudie HaignerÃ© nÃ©e AndrÃ©-Deshays           France  1985 CNES Group
 10                Jean-Pierre HaignerÃ©           France  1985 CNES Group
 11                         Ulf Merbold          Germany   1978 ESA Group
 12                    Marianne Merchez          Belgium   1992 ESA Group
 13                  Ernst Messerschmid          Germany   1982 DLR Group
 14                       Paolo Nespoli            Italy   1998 ESA Group
 15                    Claude Nicollier      Switzerland   1978 ESA Group
 16                        Wubbo Ockels  The Netherlands   1978 ESA Group
 17                     Philippe Perrin           France  1990 CNES Group
 18                       Thomas Reiter          Germany   1992 ESA Group
 19                      Gerhard Thiele          Germany   1987 DLR Group
 20                      Michel Tognini           France  1985 CNES Group
 21                      Frank de Winne          Belgium   1998 ESA Group
 22                     Roberto Vittori            Italy   1998 ESA Group

    Time in space                                           Missions
 0    22d 18h 01m                                    STS-55, STS-122
 1   203d 15h 50m    Soyuz TMA-4/3, Soyuz TMA-03M (Expedition 30/31)
 2    26d 17h 37m                                   STS-116, STS-128
 3    68d 21h 28m        Soyuz TM-27/26, STS-122/123 (Expedition 16)
 4    28d 03h 04m                            STS-66, STS-84, STS-103
 5    15d 17h 41m                                             STS-75
 6    18d 18h 46m                              STS-95, Soyuz TMA-3/2
 7    19d 16h 34m                                     Soyuz TM-25/24
 8    27d 15h 10m                                    STS-75, STS-100
 9    25d 14h 22m                     Soyuz TM-24/23, Soyuz TM-33/32
 10  209d 12h 24m            Soyuz TM-17/16, Soyuz TM-29 (Mir EO-27)
 11   49d 21h 36m         STS-9, STS-42, Soyuz TM-20/19 (Euromir 94)
 12           NaN                                                NaN
 13    7d 00h 44m                                           STS-61-A
 14  313d 02h 36m  STS-120, Soyuz TMA-20 (Expedition 26/27), Soyu...
 15   42d 12h 03m                    STS-46, STS-61, STS-75, STS-103
 16    7d 00h 44m                                           STS-61-A
 17   13d 20h 35m                                            STS-111
 18  350d 05h 35m  Soyuz TM-22 (Mir EO-20), STS-121/116 (Expediti...
 19   11d 05h 38m                                             STS-99
 20   18d 17h 45m                             Soyuz TM-15/14, STS-93
 21  198d 17h 34m  Soyuz TMA-1/TM-34, Soyuz TMA-15 (Expedition 20...
 22   35d 12h 26m             Soyuz TM-34/33, Soyuz TMA-6/5, STS-134  ,
                  Astronaut Agency       Mission         Launch         Return  \
 0          Umberto Guidoni    ESA           NaN        STS-100        STS-100
 1         Claudie HaignerÃ©   CNES     AndromÃ¨de    Soyuz TM-33    Soyuz TM-32
 2          Roberto Vittori    ESA    Marco Polo    Soyuz TM-34    Soyuz TM-33
 3          Philippe Perrin   CNES           NaN        STS-111        STS-111
 4           Frank De Winne    ESA       Odissea    Soyuz TMA-1    Soyuz TM-34
 5              Pedro Duque    ESA     Cervantes    Soyuz TMA-3    Soyuz TMA-2
 6            AndrÃ© Kuipers    ESA         DELTA    Soyuz TMA-4    Soyuz TMA-3
 7          Roberto Vittori    ESA        Eneide    Soyuz TMA-6    Soyuz TMA-5
 8            Thomas Reiter    ESA      Astrolab        STS-121        STS-116
 9       Christer Fuglesang    ESA       Celsius        STS-116        STS-116
 10           Paolo Nespoli    ESA       Esperia        STS-120        STS-120
 11           Hans Schlegel    ESA      Columbus        STS-122        STS-122
 12         LÃ©opold Eyharts    ESA      Columbus        STS-122        STS-123
 13          Frank De Winne    ESA        OasISS   Soyuz TMA-15   Soyuz TMA-15
 14      Christer Fuglesang    ESA        AlISSÃ©        STS-128        STS-128
 15           Paolo Nespoli    ESA     MagISStra   Soyuz TMA-20   Soyuz TMA-20
 16         Roberto Vittori    ESA          DAMA        STS-134        STS-134
 17           AndrÃ© Kuipers    ESA      PromISSe  Soyuz TMA-03M  Soyuz TMA-03M
 18          Luca Parmitano    ESA        Volare  Soyuz TMA-09M  Soyuz TMA-09M
 19         Alexander Gerst    ESA      Blue Dot  Soyuz TMA-13M  Soyuz TMA-13M
 20  Samantha Cristoforetti    ESA        Futura  Soyuz TMA-15M  Soyuz TMA-15M
 21        Andreas Mogensen    ESA      IrISS[8]  Soyuz TMA-18M  Soyuz TMA-16M
 22           Timothy Peake    ESA  Principia[9]  Soyuz TMA-19M  Soyuz TMA-19M
 23          Thomas Pesquet    ESA   Proxima[10]    Soyuz MS-03    Soyuz MS-03
 24       Paolo Nespoli[11]    ESA          Vita    Soyuz MS-05    Soyuz MS-05
 25         Alexander Gerst    ESA      Horizons    Soyuz MS-09    Soyuz MS-09
 26          Luca Parmitano    ESA        Beyond    Soyuz MS-13    Soyuz MS-13

           Expedition   Launch Date       Return Date  \
 0       Expedition 2   19 Apr 2001        1 May 2001
 1       Expedition 3   21 Oct 2001       31 Oct 2001
 2       Expedition 4   25 Apr 2002        5 May 2002
 3     Expedition 4/5    5 Jun 2002       19 Jun 2002
 4       Expedition 5   30 Oct 2002       10 Nov 2002
 5     Expedition 7/8   18 Oct 2003       28 Oct 2003
 6     Expedition 8/9   19 Apr 2004       30 Apr 2004
 7   Expedition 10/11   15 Apr 2005       24 Apr 2005
 8   Expedition 13/14    4 Jul 2006       22 Dec 2006
 9      Expedition 14   10 Dec 2006       22 Dec 2006
 10     Expedition 16   23 Oct 2007        7 Nov 2007
 11     Expedition 16    7 Feb 2008       20 Feb 2008
 12     Expedition 16    7 Feb 2008       27 Mar 2008
 13  Expedition 20/21   27 May 2009        1 Dec 2009
 14     Expedition 20   29 Aug 2009       12 Sep 2009
 15  Expedition 26/27   15 Dec 2010       24 May 2011
 16  Expedition 27/28   16 May 2011        1 Jun 2011
 17  Expedition 30/31   21 Dec 2011        1 Jul 2012
 18  Expedition 36/37   28 May 2013       11 Nov 2013
 19  Expedition 40/41   28 May 2014       10 Nov 2014
 20  Expedition 42/43   23 Nov 2014       11 Jun 2015
 21     Expedition 44    2 Sep 2015       12 Sep 2015
 22  Expedition 46/47   15 Dec 2015      18 June 2016
 23  Expedition 50/51   17 Nov 2016       16 May 2017
 24  Expedition 52/53  28 July 2017  14 December 2017
 25  Expedition 56/57   6 June 2018  20 December 2018
 26  Expedition 60/61  20 July 2019   6 February 2020

                                                  Note
 0   Flight 6A with MPLM Raffaello, visited Expedit...
 1                           Visited Expedition 3 crew
 2                           Visited Expedition 4 crew
 3   ISS Assembly Flight UF-2, launched with Expedi...
 4                           Visited Expedition 5 crew
 5   Launched with Expedition 8 crew landed with Ex...
 6   Launnched with Expedition 8 crew, landed with ...
 7   Launched with Expedition 11 crew, landed with ...
 8   ISS Assembly Flight ULF 1.1, first European to...
 9   ISS Assembly Flight 12A.1, visited Expedition ...
 10  ISS Assembly Flight 10A, visited Expedition 16...
 11  ISS Assembly Flight 1E, visited Expedition 16 ...
 12  ISS Assembly Flight 1E, second European to liv...
 13  Flight Engineer on Expedition 20, first Europe...
 14  ISS Assembly Flight 17A, visited Expedition 20...
 15            Flight Engineer on Expedition 26 and 27
 16                       Visited Expedition 27 and 28
 17            Flight Engineer on Expedition 30 and 31
 18  Flight Engineer on Expedition 36 and 37, first...
 19            Flight Engineer on Expedition 40 and 41
 20  Flight Engineer on Expedition 42 and 43, Longe...
 21  Visited Expedition 44 crew, first Danish astro...
 22            Flight Engineer on Expedition 46 and 47
 23            Flight Engineer on Expedition 50 and 51
 24            Flight Engineer on Expedition 52 and 53
 25  Flight Engineer on Expedition 56, second Europ...
 26  Flight Engineer on Expedition 60, commander of...  ,
     0                                                  1
 0 NaN  Wikimedia Commons has media related to ESA ast...,
   vteEuropean Space Agency Astronaut Corps  \
 0                                  General
 1                                   Groups
 2                                     2015
 3                                     2009
 4                                     1998
 5                                     1992
 6                                    Older

           vteEuropean Space Agency Astronaut Corps.1  \
 0  European Astronaut Corps European Astronaut Ce...
 1  2015 Matthias Maurer 2009 Samantha Cristoforet...
 2                                    Matthias Maurer
 3  Samantha Cristoforetti Alexander Gerst Andreas...
 4  Frank De Winne LÃ©opold Eyharts AndrÃ© Kuipers P...
 5  Maurizio Cheli Jean-FranÃ§ois Clervoy Pedro Duq...
 6  Maurizio Cheli Reinhold Ewald Umberto Guidoni ...

    vteEuropean Space Agency Astronaut Corps.2
 0                                         NaN
 1                                         NaN
 2                                         NaN
 3                                         NaN
 4                                         NaN
 5                                         NaN
 6                                         NaN  ,
        0                                                  1
 0   2015                                    Matthias Maurer
 1   2009  Samantha Cristoforetti Alexander Gerst Andreas...
 2   1998  Frank De Winne LÃ©opold Eyharts AndrÃ© Kuipers P...
 3   1992  Maurizio Cheli Jean-FranÃ§ois Clervoy Pedro Duq...
 4  Older  Maurizio Cheli Reinhold Ewald Umberto Guidoni ...,
    vteEuropean human spaceflight  \
 0                        General
 1                     Facilities
 2           Earth-based research
 3                Spacecraft used
 4                         Active
 5           Planned and proposed
 6          Retired and cancelled
 7             Mission highlights
 8                 Space stations
 9                          Other
 10         European Space Agency

                       vteEuropean human spaceflight.1  \
 0   European Astronaut Corps ISS contribution ISS ...
 1   European Astronaut Centre Columbus Control Cen...
 2   AMASE Concordia winterovers Euro-MARS European...
 3   Active Soyuz-MS Planned and proposed DC4EU Ori...
 4                                            Soyuz-MS
 5          DC4EU Orion European Service Module Skylon
 6   CSTS Hermes Soyuz-TM Soyuz-TMA Soyuz TMA-M Spa...
 7   Space stations Mir Euromir Interkosmos Interna...
 8   Mir Euromir Interkosmos International Space St...
 9   European Retrievable Carrier Hubble Space Tele...
 10                              European Space Agency

    vteEuropean human spaceflight.2
 0                              NaN
 1                              NaN
 2                              NaN
 3                              NaN
 4                              NaN
 5                              NaN
 6                              NaN
 7                              NaN
 8                              NaN
 9                              NaN
 10           European Space Agency  ,
                        0                                                  1
 0                 Active                                           Soyuz-MS
 1   Planned and proposed         DC4EU Orion European Service Module Skylon
 2  Retired and cancelled  CSTS Hermes Soyuz-TM Soyuz-TMA Soyuz TMA-M Spa...,
                 0                                                  1
 0  Space stations  Mir Euromir Interkosmos International Space St...
 1           Other  European Retrievable Carrier Hubble Space Tele...]

### Pandas read XML XSLT

In [99]:
DATA_XML = 'https://python.astrotech.io/_static/plants.csv'
resp = requests.get(DATA_XML)
resp