Environment set up

In [1]:
import pandas as pd
import numpy as np

import fuzzywuzzy
from fuzzywuzzy import process
import chardet

DATA = '/Users/dravik/Downloads/pakistan_intellectual_capital.csv'
professors = pd.read_csv(DATA)

np.random.seed(0)

/Users/dravik/PycharmProjects/JupyterPycharm/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
professors.head()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

In [7]:
countries = professors['Country'].unique()
countries.sort()
countries

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

In [8]:
professors['Country'] = professors['Country'].str.lower()
professors['Country'] = professors['Country'].str.strip()

In [12]:
countries = professors['Country'].unique()
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea',
       'southkorea', 'spain', 'sweden', 'thailand', 'turkey', 'uk',
       'urbana', 'usa', 'usofa'], dtype=object)

> Fuzzy matching: The process of automatically finding text strings that are very similar to the target string. In general,
> a string is considered 'closer' to another one the fewer characters you'd need to change if you were transforming one string
> into another. So 'apple' and 'snapple' are two changes away from each other (add 's' and 'n') while 'in' and 'on' and one
>change away (replace 'i' with 'o'). You won't always be able to rely on fuzzy matching 100%, but it will usually end up
>saving you at least a little time.

In [13]:
# get the top 10 closest matches to 'south korea'
matches = fuzzywuzzy.process.extract('south korea', countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
matches

[('south korea', 100),
 ('southkorea', 48),
 ('saudi arabia', 43),
 ('norway', 35),
 ('ireland', 33),
 ('portugal', 32),
 ('singapore', 30),
 ('netherland', 29),
 ('macau', 25),
 ('usofa', 25)]

In [15]:
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()

    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings,
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches
    df.loc[rows_with_matches, column] = string_to_match

    # let us know the function's done
    print("All done!")

In [16]:
replace_matches_in_column(df=professors, column='Country', string_to_match='south korea')

All done!

In [35]:
countries = professors['Country'].unique()
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa'],
      dtype=object)

## Exercises

In [28]:
professors['Graduated from'] = professors['Graduated from'].str.lower()
professors['Graduated from'] = professors['Graduated from'].str.strip()

In [34]:
graduates = professors['Graduated from'].unique()
graduates.sort()
pd.options.display.max_rows = 2000
pd.Series(graduates)

0                                      abasyn university
1                     abdul wali khan university, mardan
2      abdus salam school of mathematical sciences,gc...
3                       agricultural university peshawar
4                           allama iqbal open university
5                          asian institute of technology
6                           aston university, birmingham
7              australian national university, caneberra
8                          bahauddin zakariya university
9                                      bahria university
10                           bahria university,islamabad
11     balochistan university of information technolo...
12            barani institute of information technology
13                       beaconhouse national university
14                                    beihang university
15                       beijing institute of technology
16               beijing institute of technology beijing
17      beijing university of posts & telecommunications
18     biztek institute of business & technology,karachi
19                      blekinge institute of technology
20                               brock university canada
21                                     brunel university
22                                                  bukc
23            capital university of science & technology
24          capital university of science and technology
25                carnegie mellon university, pittsburgh
26     cecos university of information technology and...
27            centre for advanced studies in engineering
28                     chalmers university of technology
29                           chinese academy of sciences
30                                     chosun university
31             city university of science and technology
32                         colorado technical university
33                                   columbia university
34           comsats institute of information technology
35     comsats institute of information technology,is...
36     comsats institute of information technology,la...
37     comsats institute of information technology,ve...
38     comsats institute of information technology,wa...
39                         concordia university,montreal
40                                   coventry university
41                                  cranfield university
42                        delft university of technology
43                            depaul university, chicago
44             dresden university of technology, dresden
45                                          duet,karachi
46             eindhoven university of technology (tu/e)
47     fast– national university of computer and emer...
48     fast– national university of computer and emer...
49     fast– national university of computer and emer...
50     fast– national university of computer and emer...
51     fast– national university of computer and emer...
52            fatima jinnah women university, rawalpindi
53                                fedral urdu university
54                           florida atlantic university
55                                 foundation university
56                         galilée - université paris 13
57                               george mason university
58                          george washington university
59                              georgetown university,dc
60     ghulam ishaq khan institute of science and tec...
61                                      gomal university
62                         government college university
63             government college university, faisalabad
64              government college university,faisalabad
65                         graz university of technology
66                                              grenoble
67                                   griffith university
68                     griffith university,nathan campus
69                                             guildford
70           gwangju institute of science and technology
71                      hamburg university of technology
72                                    hamdard university
73                             hanyang university, ansan
74                        harbin institute of technology
75                               hitec university,taxila
76                                     hongik university
77     huazhong university of science and technology ...
78              ibms kp agricultural university peshawar
79                      illinois institute of technology
80                      ilmenau university of technology
81                imperial college, university of london
82               information technology university (itu)
83                            inria saclay ile-de-france
84                                   insa de lyon, rhone
85                  institute of business administration
86          institute of business administration,karachi
87           institute of business administration,sukkur
88            institute of management sciences, peshawar
89             institute of managment sciences, peshawar
90                      international islamic university
91            international islamic university,islamabad
92                                 iowa state university
93                                       iqra university
94                             iqra university,islamabad
95                               iqra university,karachi
96                            islamia college university
97                                       isra university
98                           jinnah university for women
99                                                   jku
100                                                  jnu
101                    john moorse university, liverpool
102                                 jonkoping university
103    king abdullah university of science and techno...
104                           kingston university london
105      kohat university of science & technology, kohat
106                    kth royal institute of technology
107                                 kyung hee university
108                        kyungpook national university
109                            kyushu university,fukuoka
110                  lahore college for women university
111                              lahore leads university
112             lahore university of management sciences
113                                 linköping university
114                     liverpool john moores university
115                                    london university
116                              loughborough university
117                   manchester metropolitan university
118                                manchester university
119                massachusetts institute of technology
120            max planck institute for computer science
121        mehran university of engineering & technology
122                                mid sweden university
123                     middle east technical university
124                                 middlesex university
125                             minhaj university lahore
126                       mohammad ali jinnah university
127                                    monash university
128             muroran institute of technology,hokkaido
129                                   myongji university
130                                   nancy 2 university
131                              nanyang tech university
132                     nanyang technological university
133    national college of business administration an...
134                          national textile university
135              national university of modern languages
136    national university of modern languages,islamabad
137       national university of sciences and technology
138    national university of sciences and technology...
139                     national university of singapore
140                                                 ncsu
141         ned university of engineering and technology
142                     new york institute of technology
143                       northeastern university,boston
144    norwegian university of science and technology...
145                          nottingham trent university
146                            oxford brookes university
147                            pace university, new york
148    paf-karachi institute of economics and technology
149    pakistan institute of engineering and applied ...
150                           paris descartes university
151                     paris tech university of eurecom
152        pir mehr ali shah arid agriculture university
153          pohang university of science and technology
154                                politecnico di milano
155                                politecnico di torino
156                    pompeu fabra university barcelona
157                                              preston
158    punjab university college of information techn...
159                                    purdue university
160    quaid-e-awam university of engineering, scienc...
161                              quaid-i-azam university
162                      queen mary university of london
163    razak school of engineering and advanced techn...
164                      riphah international university
165           riphah international university,faisalabad
166           rutgers state university of new jersey, nj
167                               rwth aachen university
168                                  saarland university
169                          sapienza university of rome
170               sardar bahadur khan women's university
171                            seoul national university
172                shah abdul latif university, khairpur
173    shaheed zulfikar ali bhutto institute of scien...
174    shaheed zulfikar ali bhutto institute of scien...
175                         sindh agriculture university
176                                     sindh university
177    sir syed university of engineering and technology
178        skolkovo institute of science and technology,
179                               south asian university
180                            srh hochschule heidelberg
181                        ssindh agriculture university
182                             staffordshire university
183                                  stanford university
184                  state university of new york system
185                                 stockholm university
186                              sungkyunkwan university
187                          superior university, lahore
188                                              swansea
189    swedish university of agricultural sciences, u...
190                   swinburne university of technology
191                 technical university of braunschweig
192                         technical university of graz
193                                    temple university
194                 the islamia university of bahawalpur
195                            the ohio state university
196                     the queens university of belfast
197                   the state university of new jersey
198                           the university of auckland
199                         the university of birmingham
200                          the university of cambridge
201                              the university of leeds
202                         the university of manchester
203                         the university of queensland
204                    the university of texas at austin
205                               the university of york
206                                   tilburg university
207                        tokyo institute of technology
208                                  tsinghua university
209                                            tu berlin
210                                              tu wien
211    united nations university international instit...
212    univ of porto/univ of aveiro portugal/uni of m...
213                      universite d'evry val d'essonne
214                      universiti putra malaysia putra
215                                universiti technologi
216                        universiti teknologi petronas
217                  universiti tun hussein onn malaysia
218       university institute of information technology
219                         university of abertay dundee
220                            university of agriculture
221                 university of agriculture faisalabad
222                university of agriculture, faisalabad
223                       university of arid agriculture
224                            university of balochistan
225                                   university of bath
226                               university of bayreuth
227                           university of bedfordshire
228                                 university of bergen
229                             university of birmingham
230                                university of bologna
231                                   university of bonn
232                               university of bradford
233                                university of bristol
234                       university of british columbia
235                                   university of caen
236                             university of canterbury
237                        university of central florida
238                         university of central punjab
239                               university of colorado
240                                 university of dundee
241               university of engineering & technology
242             university of engineering and technology
243    university of engineering and technology,peshawar
244      university of engineering and technology,taxila
245                                  university of essex
246                                university of florida
247                               university of freiburg
248                                 university of genova
249                                university of glasgow
250                               university of grenoble
251                                 university of gujrat
252                           university of huddersfield
253                               university of illinois
254                              university of innsbruck
255                                university of karachi
256                                   university of kent
257                               university of konstanz
258                           university of kuala lumpur
259                                 university of lahore
260                                  university of leeds
261                              university of leicester
262                               university of limerick
263                              university of liverpool
264                                 university of malaga
265                                 university of malaya
266              university of management and technology
267                             university of manchester
268    university of manchester institute of science ...
269                            university of mississippi
270                university of new south wales, sydney
271                 university of nice, sophia antipolis
272                            university of northampton
273                     university of notre dame indiana
274                                university of orleans
275                                   university of oslo
276                                 university of oviedo
277                                university of paisley
278                                  university of paris
279                              university of paris-est
280                                 university of patras
281                               university of peshawar
282                             university of pittsburgh
283                               university of plymouth
284                                  university of porto
285                                 university of regina
286                              university of rochester
287                       university of rome tor vergata
288                               university of saarland
289                                university of salford
290    university of shanghai for science and technology
291                        university of south australia
292                         university of south brittany
293                          university of south florida
294                            university of southampton
295                    university of southern california
296                               university of stirling
297                              university of stuttgart
298                             university of sunderland
299                                 university of surrey
300                                 university of sussex
301                             university of technology
302               university of texas at arlington (uta)
303                             university of the punjab
304                  university of the punjab,gujranwala
305                      university of the west scotland
306                                 university of trento
307                                 university of turbat
308                                  university of turin
309                                    university of ulm
310                                 university of vienna
311                                  university of wales
312                      university of wales,aberystwyth
313                               university of waterloo
314                            university of westminster
315                                university of windsor
316                                   university of york
317       university of liverpool john moores university
318                                     university paris
319                                 universität salzburg
320                            université de la rochelle
321                  université henri poincaré, nancy 1,
322                                universtiy of karachi
323                                 universtiy of lahore
324                                   uppsala university
325                                                  usa
326                        usman institute of technology
327    usman institute of technology (hamdard univers...
328                      vienna university of technology
329                       virtual university of pakistan
330                          vrije university, amsterdam
331                               wayne state university
332                                    xiamen university
333                                  zhejiang university
334                              åbo akademi university,
dtype: object