### Pandas DataFrame

In [75]:
import pandas as pd
import numpy as np
import requests
from io import StringIO

In [2]:
pd.DataFrame([
    {'A': 1., 'B':2.},
    {'A': 3., 'B':4.}
])

     A    B
0  1.0  2.0
1  3.0  4.0

In [3]:
pd.DataFrame([
    {'A': 1., 'B':2.},
    {'A': 3., 'C':4.}
])

     A    B    C
0  1.0  2.0  NaN
1  3.0  NaN  4.0

In [6]:
df = pd.DataFrame(np.random.randn(7, 4))
df

          0         1         2         3
0 -0.607940 -0.816053 -0.006477 -0.815874
1 -0.197567  0.070642 -1.853213 -0.652114
2  1.235923  2.225046 -0.161837 -0.754992
3  0.387114 -1.007201  0.369530 -0.474273
4 -0.615717 -0.106054  0.044633 -0.428035
5  0.326475  0.518761  0.046492 -3.430642
6  0.299144 -0.204465  0.753026 -0.907726

In [18]:
df = pd.DataFrame(
    columns=['Morning', 'Noon', 'Evening', 'Midnight'],
    index=pd.date_range('2020-09-24', periods=5),
    data=np.random.randn(5, 4)
)
df.columns

Index(['Morning', 'Noon', 'Evening', 'Midnight'], dtype='object')

In [19]:
df.columns = list('ABCD')

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.index

DatetimeIndex(['2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
               '2020-09-28'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.index = range(5)
df.index

RangeIndex(start=0, stop=5, step=1)

In [36]:
df.index = np.arange(5)

In [37]:
df

          A         B         C         D
0 -0.590680  0.009749 -0.490213 -1.975293
1 -1.961075  2.135082  0.572441 -0.320040
2 -0.698094  0.778763 -0.533326  0.899198
3  1.376455 -0.479584 -0.597979 -1.629882
4  1.587326 -0.183862  0.216455 -0.325588

In [38]:
df.values

array([[-0.59068028,  0.00974869, -0.49021262, -1.97529259],
       [-1.96107532,  2.13508211,  0.57244074, -0.32004029],
       [-0.69809398,  0.77876285, -0.53332576,  0.89919798],
       [ 1.37645481, -0.4795844 , -0.59797928, -1.6298824 ],
       [ 1.58732647, -0.18386161,  0.21645474, -0.32558774]])

In [48]:
df.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean  -0.057214  0.452030 -0.166524 -0.670321
std    1.506645  1.049678  0.528728  1.154192
min   -1.961075 -0.479584 -0.597979 -1.975293
25%   -0.698094 -0.183862 -0.533326 -1.629882
50%   -0.590680  0.009749 -0.490213 -0.325588
75%    1.376455  0.778763  0.216455 -0.320040
max    1.587326  2.135082  0.572441  0.899198

In [55]:
df['A'].sum() + df['B'].sum() + df['C'].sum() + df['D'].sum()

-2.210147883663728

In [57]:
values = np.zeros_like(df.values)

In [58]:
values

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [61]:
DATA = [
    {'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.3, 'petal_width': 0.4, 'species': 'setosa'},
    {'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica'},
    {'sepal_length': 6.0, 'sepal_width': 3.4, 'petal_length': 4.5, 'petal_width': 1.6, 'species': 'versicolor'},
    {'sepal_length': 7.3, 'sepal_width': 2.9, 'petal_length': 6.3, 'petal_width': 1.8, 'species': 'virginica'},
    {'sepal_length': 5.6, 'sepal_width': 2.5, 'petal_length': 3.9, 'petal_width': 1.1, 'species': 'versicolor'},
    {'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.3, 'petal_width': 0.4, 'species': 'setosa'}
]

df = pd.DataFrame(DATA)
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.4          3.9           1.3          0.4      setosa
1           5.9          3.0           5.1          1.8   virginica
2           6.0          3.4           4.5          1.6  versicolor
3           7.3          2.9           6.3          1.8   virginica
4           5.6          2.5           3.9          1.1  versicolor
5           5.4          3.9           1.3          0.4      setosa

In [69]:
selected = df.sample(frac=0.02)

In [70]:
selected

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [71]:
"""
Polish
Użyj danych z sekcji "Input" (patrz poniżej)

Wczytaj dane z DATA jako astro_flights: pd.DataFrame

W danych kolumna "Order":

określa kolejność astronauty/kosmonauty w kosmosie

Czasami kilka osób leciało tym samym statkiem i ich numery powinny być takie same, a w danych jest NaN.

Wypełnij brakujące indeksy stosując df.ffill()

Ustaw wszystkie wiersze w losowej kolejności

Zresetuj index nie pozostawiając kopii zapasowej starego

Wypisz

Pierwsze trzy wiersze

Ostatnie 10% wierszy
"""
DATA = 'https://python.astrotech.io/_static/astro-flights.csv'

In [78]:
resp = requests.get(DATA)

In [82]:
data = StringIO(resp.text)
astro_flights = pd.read_csv(data)

In [83]:
astro_flights

     Order           Astronaut         Date       Mission
0      1.0        Yuri Gagarin   1961-04-12        Vostok
1      2.0       Gherman Titov   1961-08-06      Vostok 2
2      3.0   Andrian Nikolayev   1962-08-11      Vostok 3
3      4.0      Pavel Popovich   1962-08-12      Vostok 4
4      5.0     Valeri Bykovsky   1963-06-14      Vostok 5
..     ...                 ...          ...           ...
530  531.0      Thomas Pesquet   2016-11-17   Soyuz MS-03
531  532.0        Jack Fischer   2017-04-20   Soyuz MS-04
532  533.0      Mark Vande Hei   2017-09-12   Soyuz MS-06
533  534.0     Norishige Kanai   2017-12-17   Soyuz MS-07
534    NaN        Scott Tingle   2017-12-17   Soyuz MS-07

[535 rows x 4 columns]

In [85]:
astro_flights.describe()

            Order
count  263.000000
mean   265.536122
std    165.318423
min      1.000000
25%     98.500000
50%    273.000000
75%    406.000000
max    534.000000

In [96]:
astro_flights['Order'].ffill(inplace=True)#%%
astro_flights = astro_flights.sample(frac=1)

In [105]:
astro_flights.reset_index(inplace=True)

In [106]:
# print(len(astro_flights))
print(astro_flights.head(3))
print(astro_flights.tail(round(len(astro_flights)*0.1)))

   index  Order                      Astronaut         Date         Mission
0    264  265.0                    Susan Helms   1993-01-13          STS-54
1    426  426.0   Heidemarie Stefanyshyn-Piper   2006-09-09         STS-115
2    513  514.0                Michael Hopkins   2013-09-25   Soyuz TMA-10M
     index  Order                         Astronaut         Date  \
481    206  207.0                       John Casper   1990-02-28
482    209  210.0                      Thomas Akers   1990-10-06
483    327  327.0               Jean-Jacques Favier   1996-06-20
484     57   58.0                   Vitaly Zholobov   1976-07-06
485    521  521.0                        Kimiya Yui   2015-07-22
486    478  478.0                    Douglas Hurley   2009-07-15
487    348  349.0                  Michael Anderson   1998-01-23
488    269  269.0                  Charles Precourt   1993-04-26
489    339  340.0                  Pavel Vinogradov   1997-08-05
490    305  306.0                   Nikolai Budarin   1995-06-27
491    306  307.0                      Kevin Kregel   1995-07-13
492    223  223.0                  Gregory Harbaugh   1991-04-28
493    299  298.0                     Joseph Tanner   1994-11-03
494    182  183.0                 Anatoli Levchenko   1987-12-21
495    172  171.0                    Bryan O'Connor   1985-11-27
496     94   95.0                       Karol Bobko   1983-04-04
497    417  417.0                    Soichi Noguchi   2005-07-26
498    109  108.0                     Robert Parker   1983-11-28
499    407  407.0                      Laurel Clark   2003-01-16
500    154  154.0                       John Bartoe   1985-07-29
501     24   25.0                         Alan Bean   1969-11-14
502    329  327.0                     Robert Thirsk   1996-06-20
503    346  345.0                   Leonid Kadenyuk   1997-11-19
504    324  323.0                    Scott Horowitz   1996-02-22
505    403  404.0                    Frank De Winne   2002-10-30
506     52   52.0                 Gennadi Sarafanov   1974-08-26
507      7    8.0             Konstantin Feoktistov   1964-10-12
508    480  478.0                  Thomas Marshburn   2009-07-15
509    501  502.0                  Satoshi Furukawa   2011-06-07
510     78   78.0                 Gennadi Strekalov   1980-11-27
511    147  145.0                       Taylor Wang   1985-04-29
512     23   22.0                  Vladislav Volkov   1969-10-12
513    351  349.0                 Saliszan Sharipov   1998-01-23
514    258  259.0                      Curtis Brown   1992-09-12
515    134  134.0                      David Walker   1984-11-08
516    216  216.0                     Ronald Parise   1990-12-02
517    522  523.0                    Aydyn Aimbetov   2015-09-02
518    102  103.0   Aleksandr Pavlovich Aleksandrov   1983-06-27
519    359  359.0                     Janet Kavandi   1998-06-02
520     66   67.0                    Vladimir Remek   1978-03-02
521     22   22.0                   Viktor Gorbatko   1969-10-12
522    167  167.0                   Reinhard Furrer   1985-10-30
523    228  228.0                     Helen Sharman   1991-05-18
524     16   16.0                     Boris Volynov   1969-01-15
525      5    6.0              Valentina Tereshkova   1963-06-16
526     37   38.0                      Ronald Evans   1972-12-07
527     70   71.0                  Vladimir Lyakhov   1979-02-25
528     75   76.0                         Pham Tuan   1980-07-23
529    337  338.0                         Edward Lu   1997-05-15
530      9    8.0                     Boris Yegorov   1964-10-12
531    170  171.0                       Mary Cleave   1985-11-27
532    231  230.0             Millie Hughes-Fulford   1991-06-05
533    108  108.0                       Ulf Merbold   1983-11-28
534    234  235.0                 Kenneth Reightler   1991-09-12

            Mission
481          STS-36
482          STS-41
483          STS-78
484        Soyuz 21
485   Soyuz TMA-17M
486         STS-127
487          STS-89
488          STS-55
489     Soyuz TM-26
490          STS-71
491          STS-70
492          STS-39
493          STS-66
494      Soyuz TM-4
495            61-B
496           STS-6
497         STS-114
498           STS-9
499         STS-107
500            51-F
501       Apollo 12
502          STS-78
503          STS-87
504          STS-75
505     Soyuz TMA-1
506        Soyuz 15
507         Voskhod
508         STS-127
509   Soyuz TMA-02M
510       Soyuz T-3
511            51-B
512         Soyuz 7
513          STS-89
514          STS-47
515            51-A
516          STS-35
517   Soyuz TMA-18M
518       Soyuz T-9
519          STS-91
520        Soyuz 28
521         Soyuz 7
522            61-A
523     Soyuz TM-12
524         Soyuz 5
525        Vostok 6
526       Apollo 17
527        Soyuz 32
528        Soyuz 37
529          STS-84
530         Voskhod
531            61-B
532          STS-40
533           STS-9
534          STS-48