### Series create

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
pd.Series([1.,2.,3.,4.])

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [4]:
pd.Series([1,3,None, 4])

0    1.0
1    3.0
2    NaN
3    4.0
dtype: float64

In [5]:
pd.Series(['a', 'b', 'c', 'd'])

0    a
1    b
2    c
3    d
dtype: object

In [6]:
list('abcd')
pd.Series(list('abcd'))

0    a
1    b
2    c
3    d
dtype: object

In [7]:
pd.Series(range(4))

0    0
1    1
2    2
3    3
dtype: int64

In [8]:
pd.Series(np.arange(4.))

0    0.0
1    1.0
2    2.0
3    3.0
dtype: float64

In [9]:
date_range = pd.Series(pd.date_range(start='2020-09-21', end='2021-09-21'))
len(date_range)

366

### Series Create Float

In [11]:
five_floats = pd.Series([1., 3., None, 5., 7.])
five_floats

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
dtype: float64

In [17]:
np.random.seed(0)

arr = pd.Series(np.random.randint(0,10, size=10))
arr

0    5
1    0
2    3
3    3
4    7
5    9
6    3
7    5
8    2
9    4
dtype: int64

In [20]:
# create even
np.random.seed(0)

ten_even_no = np.arange(0, 20, 2)
pd.Series(ten_even_no)

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [27]:
#Create dates

gagarin = pd.Timestamp('1961-04-12')
armstrong = pd.Timestamp('1969-07-21')
days_between = pd.date_range(gagarin, armstrong)
number_of_days = len(days_between)
series_of_days = pd.Series(days_between)

print(f'The number of days spent between to launches {number_of_days}')
print(series_of_days)

The number of days spent between to lunches 3023
0      1961-04-12
1      1961-04-13
2      1961-04-14
3      1961-04-15
4      1961-04-16
          ...
3018   1969-07-17
3019   1969-07-18
3020   1969-07-19
3021   1969-07-20
3022   1969-07-21
Length: 3023, dtype: datetime64[ns]

In [35]:
# another solution
date = pd.date_range('1961-04-12', '1969-07-21', freq='D')
print(pd.Series(date))
print(len(date))

0      1961-04-12
1      1961-04-13
2      1961-04-14
3      1961-04-15
4      1961-04-16
          ...
3018   1969-07-17
3019   1969-07-18
3020   1969-07-19
3021   1969-07-20
3022   1969-07-21
Length: 3023, dtype: datetime64[ns]
3023

## Series Attributes

In [36]:
s = pd.Series(['a', 'b', 'c'])

In [41]:
s.shape
s.size
s.ndim
s.index
s.values

array(['a', 'b', 'c'], dtype=object)

### Series Sample

In [59]:
np.random.seed(0)
sample_normal_d = np.random.randn(100)
index_dates = pd.date_range('2000-01-01', freq='D', periods=100)
s = pd.Series(data=sample_normal_d, index=index_dates)

print(s.head(1))
print(s.tail(5))
# print(s[:14])
print(s.first('2W'))
print(s.last('M'))
print(s.sample(n=3))
print(s.sample(frac=1.25, replace=True))

2000-01-01    1.764052
Freq: D, dtype: float64
2000-04-05    0.706573
2000-04-06    0.010500
2000-04-07    1.785870
2000-04-08    0.126912
2000-04-09    0.401989
Freq: D, dtype: float64
2000-01-01    1.764052
2000-01-02    0.400157
2000-01-03    0.978738
2000-01-04    2.240893
2000-01-05    1.867558
2000-01-06   -0.977278
2000-01-07    0.950088
2000-01-08   -0.151357
2000-01-09   -0.103219
Freq: D, dtype: float64
2000-04-01    1.222445
2000-04-02    0.208275
2000-04-03    0.976639
2000-04-04    0.356366
2000-04-05    0.706573
2000-04-06    0.010500
2000-04-07    1.785870
2000-04-08    0.126912
2000-04-09    0.401989
Freq: D, dtype: float64
2000-01-20   -0.854096
2000-01-07    0.950088
2000-02-15   -0.438074
dtype: float64
2000-03-07   -1.630198
2000-04-01    1.222445
2000-03-26    1.895889
2000-02-09   -0.302303
2000-02-09   -0.302303
                ...
2000-01-08   -0.151357
2000-03-21   -1.165150
2000-01-23    0.864436
2000-03-20    0.056165
2000-03-30    1.054452
Length: 125, dtype: float64

In [61]:
s = pd.Series(
    data = [1.1, 2.2, 3.3, None, 5.5],
    index = [1, 0, 3.3, 99, -1])

print(s[3.3])
print(s[99])

3.3
nan

In [66]:
s = pd.Series(
    data = [1.1, 2.2, 3.3, None, 5.5],
    index = ['a', 'b', 'c', 'd', 'e'])

print(s.c)
print(s['c'])
print(s['e'])

3.3
3.3
5.5

In [75]:
s = pd.Series(
    data = [1.1, 2.2, 3.3, None, 5.5],
    index = pd.date_range('1999-12-30', periods=5))

print(s[0])
print(s['1999-12-30'])
print(s.index)
print(s['1999'])
print(s['2000-01'])

1.1
1.1
DatetimeIndex(['1999-12-30', '1999-12-31', '2000-01-01', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq='D')
1999-12-30    1.1
1999-12-31    2.2
Freq: D, dtype: float64
2000-01-01    3.3
2000-01-02    NaN
2000-01-03    5.5
Freq: D, dtype: float64

In [93]:
# Series getitem
np.random.seed(0)
sample_random_normal = np.random.randn(100)
index_dates = pd.date_range('2000-01-01', freq='D', periods=100)
s = pd.Series(data=sample_random_normal, index=index_dates)

print(s['2000-02-29'])
print(s.first('D'))
print(s.last('D'))
print(s[int(len(s)/2)])

print(s[0])
print(s[-1])
print(s[s.size // 2])

-0.3627411659871381
2000-01-01    1.764052
Freq: D, dtype: float64
2000-04-09    0.401989
Freq: D, dtype: float64
-0.8954665611936756
1.764052345967664
0.40198936344470165
-0.8954665611936756

In [99]:
s = pd.Series(np.arange(1., 6.))

In [100]:
s[:2]

0    1.0
1    2.0
dtype: float64

In [101]:
s[2:]

2    3.0
3    4.0
4    5.0
dtype: float64

In [102]:
s = pd.Series(
    data = [1.0, 2.0, 3.0, 4.0, 5.0],
    index = ['aaa', 'bbb', 'ccc', 'ddd', 'eee'])

s['a':'c']

aaa    1.0
bbb    2.0
dtype: float64

In [107]:
np.random.seed(0)
normal_sample = np.random.randn(100)
index_dates = pd.date_range('2000', freq='D', periods=100)
s = pd.Series(data=normal_sample, index=index_dates)

In [109]:
s['2000-02-14':'2000-02']

2000-02-14   -0.509652
2000-02-15   -0.438074
2000-02-16   -1.252795
2000-02-17    0.777490
2000-02-18   -1.613898
2000-02-19   -0.212740
2000-02-20   -0.895467
2000-02-21    0.386902
2000-02-22   -0.510805
2000-02-23   -1.180632
2000-02-24   -0.028182
2000-02-25    0.428332
2000-02-26    0.066517
2000-02-27    0.302472
2000-02-28   -0.634322
2000-02-29   -0.362741
Freq: D, dtype: float64

In [117]:
np.random.seed(0)
ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
ascii_lowercase = list(ascii_lowercase)
random_sample = np.random.randint(10, 100, size=26)
s = pd.Series(data=random_sample, index=ascii_lowercase)
happy_middle = len(ascii_lowercase) // 2
s[happy_middle -4: happy_middle +3]

j    97
k    80
l    98
m    98
n    22
o    68
p    75
dtype: int64

In [137]:
s = pd.Series([1.0, None, None, 5.0, None, 6.0])

s.dropna()
s.interpolate('linear')

0    1.000000
1    2.333333
2    3.666667
3    5.000000
4    5.500000
5    6.000000
dtype: float64

In [147]:
# 5.10.11.a. Series NA
DATA = [1, None, 5, None, 1, 2, 1]
s = pd.Series(DATA)
s.fillna(0, limit=1).dropna().reset_index(drop=True)

0    1.0
1    0.0
2    5.0
3    1.0
4    2.0
5    1.0
dtype: float64

### Series Alter

In [150]:
DATA = [1, None, 5, None, 1, 2, 1]

s = pd.Series(DATA)
s.drop([2,4,6]).drop_duplicates().reset_index(drop=True)

0    1.0
1    NaN
2    2.0
dtype: float64

In [158]:
# 5.12.1 Sort Values
s = pd.Series(
    data = [99.9, 3.14, -5.99, 0.0, 77.1],
    index = [0, 99, 6, -4, 2])

s.sort_values()

 6     -5.99
-4      0.00
 99     3.14
 2     77.10
 0     99.90
dtype: float64

In [159]:
s.sort_values(ascending=False)

 0     99.90
 2     77.10
 99     3.14
-4      0.00
 6     -5.99
dtype: float64

In [161]:
s.sort_index(ascending=False)

 99     3.14
 6     -5.99
 2     77.10
 0     99.90
-4      0.00
dtype: float64

### 5.13 Series Arithmetic

In [163]:
#5.13.1 Vectorizes Operations
s = pd.Series(
    data = [1.1, 2.2, np.nan, 4.4],
    index = ['a', 'b', 'c', 'd'])

In [170]:
s.fillna(value=0) + 2

a    3.1
b    4.2
c    2.0
d    6.4
dtype: float64

In [173]:
s.sub(2)
s.subtract(2)

a   -0.9
b    0.2
c   -2.0
d    2.4
dtype: float64

In [1]:
# 5.13.3.a. Series Arithmetic
np.random.seed(0)
data = np.random.randint(0,9, size=5)
idx = list('abcde')
s = pd.Series(data, idx)
(s * 10) * s

NameError: name 'np' is not defined

### Series Statistics

In [2]:
s = pd.Series(
    data = [1.0, 2.0, 3.0, np.nan, 5.0, 5],
    index = ['a', 'b', 'c', 'd', 'e', 'f'])

In [8]:
s.value_counts()

5.0    2
3.0    1
2.0    1
1.0    1
dtype: int64

In [10]:
s.size
s.count()

5

In [13]:
s.nunique()

4

In [15]:
s.sum()

16.0

In [20]:
s.cumsum()
s.cummax()
s.cumprod()
s.cummin()
s.idxmax()

'e'

In [22]:
s.argmax()

4

In [26]:
s.mean()
s.median()
s.mode()

0    5.0
dtype: float64

In [29]:
s.rolling(window=2).mean()

a    NaN
b    1.5
c    2.5
d    NaN
e    NaN
f    5.0
dtype: float64

In [31]:
s.std()

1.7888543819998317

In [4]:
s.describe()

count    5.000000
mean     3.200000
std      1.788854
min      1.000000
25%      2.000000
50%      3.000000
75%      5.000000
max      5.000000
dtype: float64

### 5.15 Series Mapping
#### 5.15.2 Apply

In [8]:
np.random.seed(0)
s = pd.Series(data=np.random.randn(4),
              index=pd.date_range('2000-01-01', periods=4))
s

2000-01-01    1.764052
2000-01-02    0.400157
2000-01-03    0.978738
2000-01-04    2.240893
Freq: D, dtype: float64

In [9]:
s.apply(int)

2000-01-01    1
2000-01-02    0
2000-01-03    0
2000-01-04    2
Freq: D, dtype: int64

In [10]:
s.apply(lambda x: x*2)

2000-01-01    3.528105
2000-01-02    0.800314
2000-01-03    1.957476
2000-01-04    4.481786
Freq: D, dtype: float64

In [12]:
s.apply(round, ndigits=2)

2000-01-01    1.76
2000-01-02    0.40
2000-01-03    0.98
2000-01-04    2.24
Freq: D, dtype: float64

In [15]:
s.apply(round, args=(2,))

2000-01-01    1.76
2000-01-02    0.40
2000-01-03    0.98
2000-01-04    2.24
Freq: D, dtype: float64

In [16]:
s = pd.Series(['Watney', 'Twardowski', pd.NA, 'Lewis'])
s

0        Watney
1    Twardowski
2          <NA>
3         Lewis
dtype: object

In [18]:
s.map({'Watney': 'Mark', 'Twardowski': 'Jan'})

0    Mark
1     Jan
2     NaN
3     NaN
dtype: object

In [26]:
s.map('My name is {}'.format, na_action='ignore')

0        My name is Watney
1    My name is Twardowski
2                     <NA>
3         My name is Lewis
dtype: object

In [50]:
#5.15.6.a. Series Mapping Clean

DATA = [
    'ul.Mieszka II',
    'UL. Zygmunta III WaZY',
    '  bolesława chrobrego ',
    'ul Jana III SobIESkiego',
    '\tul. Jana trzeciego Sobieskiego',
    'ulicaJana III Sobieskiego',
    'UL. JA    NA 3 SOBIES  KIEGO',
    'ULICA JANA III SOBIESKIEGO  ',
    'ULICA. JANA III SOBIeskieGO',
    ' Jana 3 Sobieskiego  ',
    'Jana III Sobi  eskiego ',
]


def clean_text(text: str):
    text = text.lower()
    text = text.replace('ulica.', '').replace('ulica','').replace('ul.','').replace('ul','')
    text = text.replace('  ', '')
    text = text.strip().title().replace('Iii', 'III').replace('3', 'III').replace('Ii', 'II').replace('Trzeciego', 'III')
    return text

In [51]:
s = pd.Series(DATA)
s.apply(clean_text)

0               Mieszka II
1        Zygmunta III Wazy
2      Bolesława Chrobrego
3     Jana III Sobieskiego
4     Jana III Sobieskiego
5     Jana III Sobieskiego
6     Jana III Sobieskiego
7     Jana III Sobieskiego
8     Jana III Sobieskiego
9     Jana III Sobieskiego
10    Jana III Sobieskiego
dtype: object