### Series create

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
pd.Series([1.,2.,3.,4.])

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [4]:
pd.Series([1,3,None, 4])

0    1.0
1    3.0
2    NaN
3    4.0
dtype: float64

In [5]:
pd.Series(['a', 'b', 'c', 'd'])

0    a
1    b
2    c
3    d
dtype: object

In [6]:
list('abcd')
pd.Series(list('abcd'))

0    a
1    b
2    c
3    d
dtype: object

In [7]:
pd.Series(range(4))

0    0
1    1
2    2
3    3
dtype: int64

In [8]:
pd.Series(np.arange(4.))

0    0.0
1    1.0
2    2.0
3    3.0
dtype: float64

In [9]:
date_range = pd.Series(pd.date_range(start='2020-09-21', end='2021-09-21'))
len(date_range)

366

### Series Create Float

In [11]:
five_floats = pd.Series([1., 3., None, 5., 7.])
five_floats

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
dtype: float64

In [17]:
np.random.seed(0)

arr = pd.Series(np.random.randint(0,10, size=10))
arr

0    5
1    0
2    3
3    3
4    7
5    9
6    3
7    5
8    2
9    4
dtype: int64

In [20]:
# create even
np.random.seed(0)

ten_even_no = np.arange(0, 20, 2)
pd.Series(ten_even_no)

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [27]:
#Create dates

gagarin = pd.Timestamp('1961-04-12')
armstrong = pd.Timestamp('1969-07-21')
days_between = pd.date_range(gagarin, armstrong)
number_of_days = len(days_between)
series_of_days = pd.Series(days_between)

print(f'The number of days spent between to launches {number_of_days}')
print(series_of_days)

The number of days spent between to lunches 3023
0      1961-04-12
1      1961-04-13
2      1961-04-14
3      1961-04-15
4      1961-04-16
          ...
3018   1969-07-17
3019   1969-07-18
3020   1969-07-19
3021   1969-07-20
3022   1969-07-21
Length: 3023, dtype: datetime64[ns]

In [35]:
# another solution
date = pd.date_range('1961-04-12', '1969-07-21', freq='D')
print(pd.Series(date))
print(len(date))

0      1961-04-12
1      1961-04-13
2      1961-04-14
3      1961-04-15
4      1961-04-16
          ...
3018   1969-07-17
3019   1969-07-18
3020   1969-07-19
3021   1969-07-20
3022   1969-07-21
Length: 3023, dtype: datetime64[ns]
3023